header {
    background: rgb(10, 10, 10);
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 20px 15px;
    color: #fff;
    box-shadow: 0 1px 7px 0 rgb(128, 128, 128);
}

.app-header h1 {
    font-size: 4rem;
    color: gold;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: lightpink;
    font-weight: bold;
}

.logo {
    /* mix-blend-mode: multiply; */
    width: 100px;
}