.toy {
    background-color: #454545;
    padding: 17px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    box-shadow: 0 1px 7px 0 rgb(128, 128, 128);
}

.toy-preview {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.toy-preview h5 {
    text-align: center;
    font-size: 3rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}